body{
    font-family: 'Roboto', sans-serif;
}
.headercontainer{
    background-color: #557A95;
    min-height: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;

}
a{
    text-decoration: none;
}

header{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    background-color: blueviolet;
}
.navbutton{
    padding: 15px 30px;
    background-color: white;
    border: solid #557A95 3px;
    margin-left: 1rem;
    border-radius: 3px;
}
.navbutton:hover{
    background-color: #557A95;
    border:solid white;
    transition: 300ms;
    color: white;
}
nav{
    margin-top: 1rem;
}
.menu{
    display: flex;
    justify-content: space-between;
    flex: 9;
}

.account{
    margin-left: 1rem;
}
.container{
    background-image: url(/images/background.jpg);
    min-height: 60rem;
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.searchbar{
    min-height: 10rem;
    width: 60%;
    background-color: white;
    border: #557A95 solid 10px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10rem;
    margin-top: 15rem;
    
}
.cards{
    width: 75%;
    min-height: 13rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    width: 27%;
    background-color: white;
    border: #557A95 solid 10px;
    border-radius: 25px;
    padding: 40px 20px;
    margin-top: 30px;
}
.card p:last-of-type{
    margin-top: 10px;
        font-size: 1rem;
        text-align: right;
}

footer{
    background-color: #557A95;
    min-height: 5rem;
}
.login{
    margin-top: 7rem;
    min-height: 40rem;
    width: 50%;
    background-color: #557A95;
    margin-left: auto;
    margin-right: auto;
}
.aboutus{
    margin-top: 3rem;
    min-height: 50rem;
    width: 70%;
    background-color: #557A95;
    margin-left: auto;
    margin-right: auto;
}
.homefilters{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.searchbutton{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.button{
    background-color: #557A95;
    text-align: center;
    border: solid #557A95 3px;
    border-radius: 3px;
    padding: 13px 35px;
    color: white;
}
.button:hover{
    background-color: white;
    color: #557A95;
    transition: 300ms;
}
.resultbox{
    margin-top: 3rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.houses{
    min-height: 60rem;
    background-color: #557A95;
    width: 63%;
}
.filters{
    min-height: 60rem;
    background-color: #557A95;
    width: 35%;
}
.house1{
    min-height: 25rem;
    width: 57rem;
    background-color: #6893b1;
    margin: 30px 20px;
}
.house2{
    min-height: 25rem;
    width: 57rem;
    background-color: #6893b1;
    margin: 30px 20px;
}
.house3{
    min-height: 25rem;
    width: 57rem;
    background-color: #6893b1;
    margin: 30px 20px;
}
.housepage{
    margin-top: 3rem;
    width: 80%;
    min-height: 60rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #557A95 ;
}

input{
    padding: 11px 20px;
    font-size: 0.85rem;
    box-sizing: border-box;
}