body{
    font-family: 'Roboto', sans-serif;
}
.headercontainer{
    background-color: #557A95;
    min-height: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;

}
a{
    text-decoration: none;
}

header{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    height: auto;
    width: 1rem;
}
.navbutton{
    padding: 15px 30px;
    background-color: white;
    border: solid #557A95 3px;
    margin-left: 1rem;
    border-radius: 3px;
}
.navbutton:hover{
    background-color: #557A95;
    border:solid white;
    transition: 300ms;
    color: white;
}
nav{
    margin-top: 1rem;
}
.menu{
    display: flex;
    justify-content: space-between;
    flex: 9;
}

.account{
    margin-left: 1rem;
}
.container{
    background-image: url(/images/background.jpg);
    min-height: 60rem;
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.searchbar{
    min-height: 10rem;
    width: 60%;
    background-color: white;
    border: #557A95 solid 10px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10rem;
    margin-top: 15rem;
    
}
.cards{
    width: 75%;
    min-height: 13rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    width: 27%;
    background-color: white;
    border: #557A95 solid 10px;
    border-radius: 25px;
    padding: 40px 20px;
    margin-top: 30px;
}
.card p:last-of-type{
    margin-top: 10px;
        font-size: 1rem;
        text-align: right;
}

footer{
    background-color: #557A95;
    min-height: 5rem;
}
.login{
    margin-top: 7rem;
    min-height: 30rem;
    width: 30%;
    background-color: white;
    border: #557A95 solid 10px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    color: #557A95;
}
.aboutus{
    margin-top: 3rem;
    min-height: 45rem;
    width: 70%;
    background-color: white;
    border: #557A95 solid 10px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 20px;
}
.homefilters{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.searchbutton{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.button{
    background-color: #557A95;
    text-align: center;
    border: solid #557A95 3px;
    border-radius: 3px;
    padding: 13px 35px;
    color: white;
}
.button:hover{
    background-color: white;
    color: #557A95;
    transition: 300ms;
}
.resultbox{
    margin-top: 3rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.houses{
    min-height: 60rem;
    background-color: #557A95;
    width: 63%;
}
.filters{
    min-height: 60rem;
    background-color: #557A95;
    width: 35%;
}
.house{
    min-height: 25rem;
    width: 95%;
    background-color: #6893b1;
    margin: 30px 20px;
    display: flex;
}
.housepage{
    margin-top: 3rem;
    width: 80%;
    min-height: 60rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #557A95 ;
}

input{
    padding: 11px 20px;
    font-size: 0.85rem;
    box-sizing: border-box;
}

.price{

    font-size: 40px;
    position: relative;
    left: 750px;
    top: 50px;


}

.housephoto{
position: absolute;
top: 200px;
left: 200px;
}

.housedescription{

    position: relative;
    left: 650px;
    top: 100px;
    font-size: 25px;
    padding: 25px;
    margin: 0px;

}

.purchase{
    position: absolute;
    right: 200px;
    top: 650px;
}

.house1interior1{
    position: relative;
    top: 200px;
    left: 90px;
}

.house1interior2{
    position: relative;
    top: 85px;
    left: 250px;
}

.house1interior3{
    position: relative;
    bottom: 30px;
    left: 400px;
}

hr.divider{
    position: relative;
    top: 10px;
}

.lowerdescription{
    position: relative;
    left: 10px;
    top: 10px;
    margin: 10px;
    font-size: 25px4;
}
.herobox1{
    margin-bottom: auto;
    margin-top: auto;
}
.herobox1 p{
    margin-top: 20px;
    font-size: 1.7rem;
}
.herobox2{
    margin-bottom: auto;
    margin-top: auto;
    padding-left: 20px;
}
.teamimg{
    width: auto;
    height: 400px;
}
h1{
    font-size: 3rem;
    text-align: center;
}
.login h1{
    padding-top: 30px;
    padding-bottom: 10px;
}
.noaccount{
    padding-bottom: 5rem;
    text-align: center;
}
.login input{
    width: 100%;
}
.inputwrapper {
    margin-bottom: 30px;
}
.forgotpassword{
    text-align: right;
    font-size: 0.8rem;
    color:#557A95;
}
.names{
    display: flex;
}
.checks{
    display: flex;
    margin: 0;
    justify-content: space-between;
}
.box1{
    margin-right: 5px;
}
.box2{
    margin-left: 5px ;

}

.contactusmainphoto{
 margin-left: auto;
 margin-right: auto;

}


.contactushere1{
    position: relative;
   
    top: 480px;
    right: 700px;
    font: 75px;
    width: 200px;
    height: 100px;
    margin: 0%;
    padding: 0%;
    font-size: 25px;

    
    
 
}

.phoneicone1{
    position: relative;
    top: 150px;
    right: 130px;
}



.contactemail{
    position: relative;
    top: 550px;
    right: 800px;
    font-size: 20px;
}

.contactusphone{
    position: relative;
    bottom: 90px;
    left: 210px;
    font-size: 20px;
}

.contactinstagram{
    position: relative;
    bottom: 260px;
    left: 550px;
    font-size: 20px;
}

.contactfacebook{
    position: relative;
    bottom: 210px;
    left: 550px;
    font-size: 20px;
}

.house-herobox-img{
    height: 15rem;
    width: auto;
    margin: 30px;
}
.house-herobox-text{
    color: white;
    padding: 20px;
}
.house-herobox-text p{
    margin-top: 20px;
    text-align: center;
    align-items: center;
}
.house-herobox-text h2{
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
}
.search-filters-small{
    margin: 40px 20px 20px;
    width: 40%;
}
.search-filters-big{
    margin: 40px 20px 20px;
    width: 70%;
}
.filters h1{
    color: white;
    margin-top: 20px;
}
.checkbox{
    margin-left: 20px;
}
.label-text{
    color: white;
    font-size: 1.3rem;
}
